body{
    font-family: 'vasir','IBM Plex Sans', sans-serif;
    margin: 0px ;
    padding: 0px;
    transition: .5s;
    background-color: rgb(255, 255, 255);
    min-width: 310px;
}
@font-face {
    font-family: "vasir";
    src: url(vazir-font/Vazir.ttf);

}
img#logo{
    width: 40px;
    height: 52px;
    float: right;
    position: relative;
    top: 8px;
    margin: 10px;
}

div.navbar{
    width: 98%;
    height: 85px;
    position: relative;
    bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -8px;
    background-color: rgb(240, 240, 240);
    z-index: 100;
}
ul.navbar{    
    list-style: none;
    text-align: right;
}
div.navbar ul{ 
    transition: .5s;
}
ul.navbar li{
    transition: .5s;
    margin: 30px 6px;
    display: inline-block;
}
ul.navbar li a {
    text-decoration: none;
    
}
div.account{
    text-align: left;
    margin-top: -71px;
    margin-left: 30px;
}
a:visited{
    color:currentColor
}
div.account span{
    transition: .5s;
    color: #1bb53d;
    border: 1px solid #1bb53d;
    padding: 10px 10px;
    border-radius: 10px;position: relative;
    top: 10px;
    text-shadow: 0px 0px 15px ;
    z-index: 110;
}
div.account span:visited{
    color:currentColor
}
div.account span:hover{
    background-color: #1bb53d;
    color: white;

}
ul.navbar li:hover{
    color: #1bb53d;
    border-bottom: #1bb53d 1px solid;
}
a{
    text-decoration: none;
}
/* Main */
/* Banner */
div.banner{
    width: 100%;
    height: 729px;
    position: relative;
    top: -88px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
div.banner img{
    width: 100%;
    height: 733px;
    padding: 0px;
    margin: 0px;
    z-index: -1;
    position: relative;
    display: inline-block;
}
h1#text-banner, h2#text-banner{
    font-size: 45px;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 480px;
}
h2#text-banner{
    line-height: 10px;
}
p#present{
    position: relative;
    bottom: 470px;
    color: rgb(231, 231, 231);
    font-size: 26px;
    border-radius: 6px;
    padding: 13px ;
}
div.movtion-banner{
    width: 234px;
    height: 65px;
    background-color: #1bb53d;
    position: relative;
    border-radius: 10px;
    box-shadow:  0px 0px 30px 0px green;
    transition-duration: .2s;
}
div.movtion-banner:hover{
    box-shadow:0px 0px 20px 10px green
}
div.movtion-banner a h3{
    padding:17px 15px;
    color: rgb(255, 255, 255); 
    font-size: 20px;
}

div.movtion-banner a{
    text-decoration: none;
}

h1#text-banner, h2#text-banner, div.movtion-banner, p#present{
    bottom: 35rem;
    margin-left: 10px;
    margin-right: 10px;
}h1#text-banner, h2#text-banner, p#present{
    line-height: 50px;
}




/* Intro */
div.skills{
    height: 220px;
    bottom: 91px;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 6px;
    background-color: rgb(13, 77, 253);

}
div.skills div.skill{
    margin:-.5px -.5px;
    transition: .3s;
    border-radius: 10px;
    border : 1px solid rgba(236, 236, 236, 0.274);
    /* background-color: rgb(0, 68, 255); */

}
div.skills div.skill img{
    width: 50px;
    margin: auto ;

}
div.skills div.skill-3 img{
    width: 45px;
}
div.skills div.skill-4 img{
    margin-left: 12px;
    width: 48px;
}
div.skills div.skill{
    display: grid;
    grid-template-columns: 62px 700px;
}
div.skills div.skill img,div.skills div.skill h3{
    margin-right: 10px;
}
div.skills div.skill h3{
    margin: auto 0px;
    margin-right: 15px;
    color: rgb(221, 221, 221);
}
div.skills div.skill:hover{
    box-shadow:0px 0px 19px 2px rgba(10, 10, 10, 0.534);
    font-size: 17px;
}



/* Intro Bahrani */
div.bahrani{
    direction: rtl;
    position: relative;
    top: -50px;
    margin-bottom: 20vw;
}
div.bahrani img{
    height: 39vw;
    margin-right: 20px;
    float: right;
    border-radius: 25PX;
    width: 30vw;

}
div.bahrani div.texts p, div.bahrani div.texts h3, div.bahrani div.texts h2{
    margin: 20px 50px;
    position: relative;
    right: 20px;
    font-size: 2vw;
    text-align: justify; 
}

div.bahrani p{
    color: #252525;

}
div.course{
    position: relative;
    top: 45px;
    width: max-content;
    border-radius: 6px;
    background-color: #1bb53d;
    transition-duration: .3s;
}
div.course p{
    font-size: 20px;
    padding: 17px 15px;
    color: #ffffff;
}
div.course:hover{
    transition-duration: .3s;
    background-image: linear-gradient(-250deg, #00ff37, rgb(0, 119, 255) 100%) !important;

}
/* footer */

footer div.footer{
    
    width: 100%;
    text-align: right;
    display: grid;
    direction: rtl;
    grid-template-columns: 47% 11% 21% 20%;
    padding-bottom: 35px;
    
}
footer{
   background-color: #1bb53d ; 
}
div.footer div{
    margin-left: 10px;
}
div.footer h2{
    padding: 2px 0px 18px 0px;
    color: white;

}
/* div.footer h2 */
div.footer .first{
    padding: 26px 43px 0px 0px;
}
div.footer .numbers , div.instagram, div.whatsapp {
    color: #f3f3f3;
    padding-top: 34px;
}

div.footer .numbers h4{
    color: #eeeeee;
    line-height: 34px;
}
div.instagram img {
    transition-duration: .3s;
    width: 103px;

}
div.instagram img:hover{
    width: 110px;
}
div.whatsapp img {
    transition-duration: .3s;
    width: 90px;
    margin-top: 6px;
}
div.whatsapp h3{
    color: #f3f3f3;
}
div.whatsapp img:hover{
    width: 100px;
}
div.footer .first h3, div.footer .first h4{
    color: #f3f3f3;
}

@media screen and (max-width:830px){
    div.skills{
        height: 400px;
        grid-template-columns:100% ;
        grid-template-rows:   100px 100px 100px 100px;
    }
    div.skill-1 { 
        border-bottom : 1px solid rgba(90, 90, 90, 0.407);
    }
    div.skill-4 { 
        border-top : 1px solid rgba(90, 90, 90, 0.407)
    }
    div.skill-2 { 
        border-bottom : 1px solid rgba(90, 90, 90, 0.407)
    }
    p#present{
        font-size: 20px;
    }
    h1#text-banner, h2#text-banner{
        font-size: 30px;
    }
    div.banner img ,div.banner{
        height: 500px;
    }
    h1#text-banner, h2#text-banner,p#present,div.movtion-banner{
        top:-25rem;
        line-height: 30px;
    }
    div.bahrani{
        text-align: center;
    }
    div.bahrani img{
        float: none;
        height: fit-content;
        width: 80vw;
        margin-right: 0px;
    }
    div.bahrani div.texts p, div.bahrani div.texts h3, div.bahrani div.texts h2 {
        margin: 20px 25px;
        font-size: 20px;
        text-align: justify;
        position: static;
      }

}
@media screen and (max-width:460px){
    p#present{
        font-size: 20px;
    }
    h1#text-banner, h2#text-banner{
        font-size: 22px;
    }
    div.banner img ,div.banner{
        height: 500px;
    }
    h1#text-banner, h2#text-banner,p#present,div.movtion-banner{
        top:-25rem;
        line-height: 30px;
    }
    div.movtion-banner{
        width: 184px;
        height: 60px;
    }
    div.movtion-banner a h3{
        font-size:17px;
        padding: 14px 15px;
    }
}
@media screen and (max-width:460px){

}
/* footer */

@media screen and (max-width:1111px){

    footer div.footer{
        grid-template-columns: 57% 13% 30%;
        grid-template-rows: 48%;
    }

}
@media screen and (max-width:970px){
    footer div.footer{
        grid-template-columns: 71% 28%;
        grid-template-rows: 48% 62%;
      }
    div.instagram, div.whatsapp{
        position: relative;
        left: 85px;
    }

}
@media screen and (max-width:801px){
    footer div.footer{
        display: block;
        text-align: center;
        padding-top: 10px;
        
        
      }
      div.footer div{
        margin-left: 0px;
      }
      div.footer .first{
        padding:26px 0px 0px 0px
      }
    div.instagram, div.whatsapp{
        position: static;
    }

}
/* navbar */

@media screen and (max-width:400px){
    li{
        font-size: 15px;
        margin: 20px 2px !important;
        margin-right: -4px;
    }
    img#Bahrani-Gsm{
        width: 31px;
        top: 0px;
        height: 45px;
    }
    div.account{
        margin-top: -62px !important;
        margin-left: 12px !important;
    }
    div.account span{
        font-size: 15px;
        padding: 10px 5px !important;
    }
    div.navbar{
        height: 65px;
    }
}